{% extends 'districtofficer/district_base.html' %}
{% load static  %}
{% block content %}
{% if message  %}
<script>
    alter({{ message }})
</script>
{% endif %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="header-text caption">
              <h2>Kerala Anganwadi </h2>
                <h2>DISTRICT OFFICER</h2>

              <div id="search-section">
{#              	<form id="suggestion_form" name="gs" method="get" action="#">#}
{#                <div class="searchText">#}
{#                  #}
{#                  <input type="text" name="q" class="searchText" placeholder="Enter your domain here..." autocomplete="on">#}
{#                  <ul>#}
{#                    <li><label><input type="checkbox" name="ext_com" value="1"><span>.com <em>($10/yr)</em></span></label></li>#}
{#                    <li><label><input type="checkbox" name="ext_net" value="1"><span>.net <em>($12/yr)</em></span></label></li>#}
{#                    <li><label><input type="checkbox" name="ext_org" value="1"><span>.org <em>($8/yr)</em></span></label></li>#}
{#                    <li><label><input type="checkbox" name="ext_in" value="1"><span>.in <em>($6/yr)</em></span></label></li>#}
{#                  </ul>#}
{#                </div>#}
{#                    <input type="submit" name="results" class="main-button" value="Search Now">#}
{#                 </form>#}
               <div class="advSearch_chkbox">
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- Trusted Starts Here -->
    <div class="trusted-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="trusted-section-heading">
              <h3>Registration-Anganwadi</h3>
            </div>
          </div>
         <form action="add_anganawadi" method="POST" class="forms-sample" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="form-group">


{#                          <label for="exampleInputUsername1">District</label>#}
                       <li >
                        <a href="#" style="background-color:lightslategray" class="form-control"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>District:-{{ selectdistrict }}</a>
                        <ul class="sub-menu children dropdown-menu">
                            {% for i in district %}
                            <li><i class="mdi mdi-speedometer"></i><a href="anganawadi_district?dist_id={{ i.id }}">{{ i.District_name }} </a></li>
                            {% endfor %}

                        </ul>

                    </li>
                      <br>

                             <li >
                        <a href="#" style="background-color:lightslategray" class="form-control"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>Place:-{{ selectplace }}</a>
                        <ul class="sub-menu children dropdown-menu">
                            {% for j in place %}
                            <li><i class="mdi mdi-speedometer"></i><a href="selected_place?place_id={{ j.id }}">{{ j.place }} </a></li>
                            {% endfor %}

                        </ul>

                      <br>

                      <label for="exampleInputUsername1">Location</label>
                      <select style="background-color:lightslategray" class="form-control"  name="location" id="PLACE" required="required" onchange="show_dis(this.value,0)" >
                              <option  required="required">---Select---</option>
                              {% for i in locations %}
                                   <option value="{{ i.id }}">{{ i.location }} </option>
{#                              <a href="officers_district?dist_id={{ i.id }}" >{{ k.location }} </a>#}
                              {% endfor %}
                               </select>
                          <br>
                             <br>
                         <label for="exampleInputUsername1">Proof</label>
                          <input style="background-color:lightslategray" type="file" class="form-control" id="exampleInputUsername1" name="proofdoc" placeholder="Enter Pincode">
                      <br>
                          <label for="exampleInputUsername1">Image</label>
                          <input style="background-color:lightslategray" type="file" class="form-control" id="exampleInputUsername1" name="image" placeholder="Enter Pincode">
                      <br>
                                                       <input style="background-color:lightslategray" type="text" class="form-control" id="exampleInputUsername1" name="name" placeholder="Enter Anganwadi name">
                      <br>
                          <input type="number" style="background-color:lightslategray" class="form-control" id="exampleInputUsername1" name="phone" placeholder="Enter Contact">
                      <br>
                          <input type="text" style="background-color:lightslategray" class="form-control" id="exampleInputUsername1" name="email" placeholder="Enter Email">

                      <br>
                             <input type="number" style="background-color:lightslategray" class="form-control" id="exampleInputUsername1" name="Lisence" placeholder="Enter License number">
                       <br>
                       <input type="text" style="background-color:lightslategray" class="form-control" id="exampleInputUsername1" name="username" placeholder="Enter Username">
                      <br>
                       <input type="text" style="background-color:lightslategray" class="form-control" id="exampleInputUsername1" name="password" placeholder="Enter Password">
                      <br>
                       <input type="text" style="background-color:lightslategray" class="form-control" id="exampleInputUsername1" name="ConfirmPassword" placeholder="Confirm Password">
                      <br>

                      </div>

                      <button type="submit" class="btn btn-primary mr-2">Submit</button>


                    </form>

          </div>
        </div>
      </div>
    </div>
    <!-- Trusted Ends Here -->


    <!-- Services Starts Here -->
    <div class="services-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">

            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
             <img style="width: 100%;height: 100%" src="{% static 'assets/images/Government_of_Kerala_Logo.svg.png' %}" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
             <div class="service-item">
             <img style="width: 65%;height: 65%" src="{% static 'assets/images/image1.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">

               <div class="service-item">
             <img style="width: 95%;height: 95%" src="{% static 'assets/images/image2.jpg' %}" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Services Ends Here -->




{% endblock %}