{% extends 'index_base.html' %}
{% load static  %}
{% block content %}
{% if message  %}
<script>
      alter("{{ message }}")
</script>
{% endif %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="header-text caption">
              <h2>Kerela Anganawadi </h2>
                <h2>Change your password</h2>

              <div id="search-section">

               <div class="advSearch_chkbox">
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- Trusted Starts Here -->
    <div class="trusted-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="trusted-section-heading">
              <h3>Change password</h3>
               <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
{#              <h3 class="page-title">ADD DISTRICT</h3>#}
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">

                     <form method="post" action=""  enctype="multipart/form-data">
       {% csrf_token %}


  <label for="lname">Name</label>
    <input type="text" id="lname" name="name" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;" placeholder="Your Name..">

  <label for="lname">Email</label>
    <input type="Email" id="lname" name="email" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;" placeholder="Your Email..">

<button  class="button1">Submit </button>

{#    <input type="submit" style="width: 100%;background-color: #4CAF50;color: white;padding: 14px 20px;margin: 8px 0;border: none;border-radius: 4px;cursor: pointer;" value="Submit">#}

  </form>
                   </div>


                </div>
              </div>
{#              <div class="col-md-7 grid-margin stretch-card">#}
{#                <div >#}
{#                  <div >#}
{#                    <table class="table">#}
{#                          <tr>#}
{#                            <th>Feedback</th>#}
{#                            <th>Date</th>#}
{#                              <th>Action</th>#}
{##}
{##}
{#                          </tr>#}
{#                        {% for i in  result %}#}
{#                          <tr>#}
{#                            <td>{{ i.feedback }}</td>#}
{##}
{#                              <td>{{ i.feedback_date }}</td>#}
{##}
{##}
{#                           <td><a href="removefeedback?id={{ i.id }}" class="badge badge-danger">remove</a></td>#}
{#                          </tr>#}
{#                        {% endfor %}#}
{##}
{#                        </tbody>#}
{#                      </table>#}
{#                </div>#}
{#              </div>#}
              </div>
            </div>
            </div>
          </div>


          </div>
        </div>
      </div>
    </div>
    <!-- Trusted Ends Here -->


    <!-- Services Starts Here -->
    <div class="services-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">

            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
             <img style="width: 100%;height: 100%" src="{% static 'assets/images/Government_of_Kerala_Logo.svg.png' %}" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
             <div class="service-item">
             <img style="width: 65%;height: 65%" src="{% static 'assets/images/anganwadi-rular-indian-school-sketch-260nw-1183280557.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">

               <div class="service-item">
             <img style="width: 95%;height: 95%" src="{% static 'assets/images/images.jfif' %}" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Services Ends Here -->




{% endblock %}