{% extends 'anganwadi/anganwadi_base.html' %}
{% load static  %}
{% block content %}
{% if message  %}
<script>
      alter("{{ message }}")
</script>
{% endif %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="header-text caption">
              <h2>Kerala Anganawadi </h2>
                <h2>Pregnant  List</h2>

              <div id="search-section">

               <div class="advSearch_chkbox">
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- Trusted Starts Here -->
    <div class="trusted-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="trusted-section-heading">
              <h3>Pregnant List</h3>
            </div>
          </div>
          <table class="table table-bordered table-striped table-hover" style="background-color: #002633;width: 1000px;">
                                 <th class="success" style="color: white;">Photo</th>
                                 <th class="success" style="color: white;">Name</th>
                                 <th class="success" style="color: white;">Contact</th>
                                 <th class="success" style="color: white;">Email</th>
                                 <th class="success" style="color: white;">Address</th>
                                 <th class="success" style="color: white;">Husband name</th>
                                 <th class="success" style="color: white;">Medical Proof</th>

                                  <th class="success" style="color: white;">Place</th>
                                  <th class="success" style="color: white;">Status</th>
                                    <th class="success" style="color: white;">Accept</th>
          <th class="success" style="color: white;">Reject</th>
              {% for i in pregnant %}
                                <tr style="background-color:white;width: 700px;">
                                    <td><img  style="width: 100px;height: 100px;" src="{{ i.pwomen_photo.url }}" class="img-responsive" alt="slide"></td>
                                    <td>{{ i.user.first_name}}</td>
                                    <td>{{ i.pwomen_contact}}</td>
                                    <td>{{ i.pwomen_email}}</td>
                                    <td>{{ i.pwomen_house }},{{ i.p_street }},{{ i.pwomen_pincode }}</td>
                                    <td>{{ i.pwomen_husbandname }}</td>
                                    <td><a href="{{ i.pwomen_medicalproof.url }}" download>Download </a></td>
{#                                    <td>{{ i.pwomen_medicalproof }}</td>#}
                                    <td>{{ i.pwomen_isactive }}</td>

                                    <td><button style="background-color:lightslategray"><a href="approve_pregnant?id={{ i.user_id}}" class=" btn btn-success" style="color:black">Approve</a></button></td>
                                    <td><button style="background-color:lightslategray"><a href="reject_pregnant?id={{ i.User_id}}" class=" btn btn-danger" style="color:black">Reject</a></button></td>

                                </tr>
              {% endfor %}



                            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Trusted Ends Here -->

    <!-- Services Starts Here -->
    <div class="services-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">

            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service-item">
             <img style="width: 100%;height: 100%" src="{% static 'assets/images/Government_of_Kerala_Logo.svg.png' %}" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
             <div class="service-item">
             <img style="width: 65%;height: 65%" src="{% static 'assets/images/image1.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">

               <div class="service-item">
             <img style="width: 95%;height: 95%" src="{% static 'assets/images/image2.jpg' %}" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Services Ends Here -->




{% endblock %}